body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  font-family: 'Open Sans', sans-serif;
}
#board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}

.cell:hover {
  background-color: lightgray;
}

#message {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
}

#restart {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
}
